/* FONTS - Google Fonts. */
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Fascinate+Inline|Faster+One|Megrim|Vast+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Dosis|Kanit|Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Almendra+Display|Astloch|Bangers|Stint+Ultra+Expanded&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel|Dosis|Teko&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap");

/* _____________________Header Styles_____________________  */
.user {
  position: fixed;
  top: 2.1%;
  left: 95%;
  fill: white;
}
label {
  font-family: "Julius Sans One", sans-serif;
  position: fixed;
  left: 88%;
  top: 3%;
  font-size: 18px;
}

/*_____________________Main Body Styles_____________________  */
p {
  padding-top: 10px;
  font-size: 25px;
  text-align: center;
}

/* button  */
#inbtn1 {
  font-family: "Julius Sans One", sans-serif;
  background-color: white;
  position: fixed;
  top: 125px;
  left: 300px;
  width: 600px;
  height: 100px;
  -webkit-transition: 0.1s;
  color: black;
}
#inbtn2 {
  font-family: "Julius Sans One", sans-serif;
  background-color: white;
  position: fixed;
  top: 320px;
  left: 500px;
  width: 600px;
  height: 100px;
  -webkit-transition: 0.1s;
  color: black;
}
#inbtn3 {
  font-family: "Julius Sans One", sans-serif;
  background-color: white;
  position: fixed;
  top: 525px;
  left: 350px;
  width: 600px;
  height: 100px;
  -webkit-transition: 0.1s;
  color: black;
}
#btn1 {
  position: fixed;
  top: 220px;
  right: 647px;
}
#btn2 {
  position: fixed;
  top: 438px;
  left: 540px;
}
#btn3 {
  position: fixed;
  top: 438px;
  right: 540px;
}
/* #btn1:hover + #inbtn1 {
  background-color: white;
  box-shadow: 0px 0px 5px 5px gray;
  color: black;
}
#btn2:hover + #inbtn2 {
  background-color: white;
  box-shadow: 0px 0px 5px 5px gray;
  color: black;
}
#btn3:hover + #inbtn3 {
  background-color: white;
  box-shadow: 0px 0px 5px 5px gray;
  color: black;
} */

#backline{
  position:fixed;
  top :37%;
  left :33.4%;
}
