@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Fascinate+Inline|Faster+One|Megrim|Vast+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Dosis|Kanit|Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Almendra+Display|Astloch|Bangers|Stint+Ultra+Expanded&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel|Dosis|Teko&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

.header {
  font-family: "Josefin Sans", sans-serif;
  background-color: #0e0b16;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  box-shadow: 0px 3px 800px 0px #a239ca;
  color: #e7dfdd;
  line-height: 1;
  z-index: 1000;
  display: inline-flex;
}
.headline {
  padding-left: 15px;
}

.topbody{
    width: 90%
}

body{
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: "Teko", sans-serif;
    font-size: 18px;
}
/* Header */
.panel-header{
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #0e0b1665;
    padding-bottom: 10px; 
}

.rounded{
    padding-top: 10px;
    overflow: auto;
}

.userinfo{
    font-family: "Lato", sans-serif; 
    padding-top:40px;
}

.panel-header:hover{
    background-color:#0e0b1611;
}

/* Content */

.panel-content{
    border-radius: 10px 10px 10px 10px;
    border : 2px solid #0e0b1665;
    padding-top: 10px; 
    margin-top: 10px;
    font-family: "Lato", sans-serif; 
    overflow-y: scroll;
    height: 600px;
}

.style-dot{
    color: #4717f6; font-weight: bold;
}

.muted-content{
    font-size: 14px;
}

.projinfo:hover{
    background-color:#0e0b1611;
    cursor: pointer;
}

.plagpercent{
    margin-top:50px;
}