<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Add Project</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/addproj.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        #load{
            width:100%;
            height:100%;
            position:fixed;
            z-index:9999;
            background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
        }
    </style>
</head>

<body>
<div class="header">
    <a href="/home"><img src="../images/svg/back.svg"></a>
    <div class="headline" id="slider">
        <span><span style="color: #4717f6; font-weight: bold;">ADD</span><br>PROJECT</span>
    </div>
</div>

<div id="addprojform">
    <div class="container">
        <h2><span id="title" style="color: #4717f6; font-weight: bold;">Project</span> Details</h2>
        <hr class="line">
        <!-- Bootstrap Forms -->
        <form action="./addproj" method="POST" encType="multipart/form-data" ref='uploadForm'
              id='uploadForm'>
            <!-- Title Textbox -->
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Eg. RNN for Chatbots" name="title"
                       required>
            </div>

            <!-- Domain Textbox -->
            <div class="form-group">
                <label for="domain">Domain:</label>
                <input type="text" class="form-control" id="domain" placeholder="Eg. Deep Learning" name="domain"
                       required>
            </div>


            <!-- Hardware Reqs -->
            <!-- CheckBox -->
            <label for="hwspec">Hardware Specification:</label>
            <div class="checkbox">
                <label><input type="checkbox" id="hwreqcheckbox" name="hwreqcheckbox">Any H/W Used</label>
            </div>

            <!-- Textarea -->
            <div id="hwreqtextarea">
                <div class="form-group">
                    <label for="hwreq">Hardware Requirements:</label>
                    <textarea class="form-control" id="hwreq" rows="3" name="hwreqtextarea"></textarea>
                </div>
            </div>

            <!-- Software Reqs -->
            <!-- CheckBox -->
            <label for="swspec">Software Specification:</label>
            <div class="checkbox">
                <label><input type="checkbox" id="swreqcheckbox" name="swreqcheckbox" required>Any S/W Used</label>
            </div>

            <!-- Textarea -->
            <div id="swreqtextarea">
                <div class="form-group">
                    <label for="swreq">Software Requirements:</label>
                    <textarea class="form-control" id="swreq" rows="3" name="swreqtextarea"></textarea>
                </div>
            </div>

            <!-- Guide names Multitext Box -->
            <div class="form-group">
                <label for="guidename">Guide Name:</label>
                <div class="input-group control-group-div1 after-add-more-div1">
                    <input type="text" name="guidenames[]" class="form-control" placeholder="Eg : Dr.John" required>
                    <div class="input-group-btn">
                        <button class="btn custom-btn-color add-more-div1" type="button"><i
                                    class="glyphicon glyphicon-add"></i>
                            <span class="btntext">Add</span>
                        </button>
                    </div>
                    <!-- <div id = "guidenamehelpdiv>
                    <small id="guidenamehelp" class="form-text text-muted">Maximum only 4 guides.</small>
                    </div> -->
                </div>

                <!-- Copy Fields -->
                <div class="copy-div1 hide">
                    <div class="control-group-div1 input-group" style="margin-top:10px">
                        <input type="text" name="guidenames[]" class="form-control" placeholder="Eg : Dr.John">
                        <div class="input-group-btn">
                            <button class="btn btn-danger remove-div1" type="button"><i
                                        class="glyphicon glyphicon-remove"></i>
                                <span class="btntext">Remove</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Members info multi textbox -->

            <div class="form-group">
                <label for="teammembers">Team Members:</label>
                <div class="input-group control-group-div2 after-add-more-div2">
                    <div class="form-row" style="width: 135%">
                        <div class="form-group col col-lg-4">
                            <label for="membername">Name</label>
                            <input type="text" name="tmnames[]" class="form-control" placeholder="Eg : John" required>
                        </div>
                        <div class="form-group col col-lg-3">
                            <label for="memberphnum">Phone number</label>

                            <input type="tel" pattern="[0-9]{10}" name="tmnums[]" class="form-control"
                                   placeholder="Eg : 9876543210" required>
                        </div>
                        <div class="form-group col col-lg-4">
                            <label for="memberemail">Email</label>

                            <input type="email" name="tmemails[]" class="form-control"
                                   placeholder="Eg : john@gmail.com" required>
                        </div>
                        <div class="form-group col col-lg-1">
                            <label for="emptylabel"></label>
                            <div class="input-group">
                                <button class="btn custom-btn-color add-more-div2" type="button"
                                        style="margin-top: 4px">
                                        <span class="glyphicon glyphicon-plus custom-btn-color"
                                              aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copy Fields -->
                <div class="copy-div2 hide">
                    <div class="control-group-div2 input-group" style="margin-top:10px">
                        <div class="form-row" style="width: 135%">
                            <div class="form-group col-lg-4">
                                <label for="membername">Name</label>
                                <input type="text" name="tmnames[]" class="form-control" placeholder="Eg : John">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="memberphnum">Phone number</label>

                                <input type="tel" pattern="[0-9]{10}" name="tmnums[]" class="form-control"
                                       placeholder="Eg : 9876543210">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="memberemail">Email</label>

                                <input type="email" name="tmemails[]" class="form-control"
                                       placeholder="Eg : john@gmail.com">
                            </div>
                            <div class="form-group col-lg-1">
                                <label for="emptylabel"></label>
                                <div class="input-group">
                                    <button class="btn btn-danger remove-div2" type="button"
                                            style="margin-top: 4px">
                                        <i class="glyphicon glyphicon-remove"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- File Uploads -->
            <!-- Abstract -->
            <label for="abstract">Abstract:</label>
            <div class="input-group">
                <label class="input-group-btn">
                        <span class="btn custom-btn-color">
                            <i class=" glyphicon glyphicon-upload custom-btn-color"></i>
                            <input type="file"
                                   class="form-control abstractcontrol-file" name="abstract" style="display: none;"
                                   accept=".pdf,.doc,.pages">
                        </span>
                </label>
                <input type="text" class="form-control abstractfile-name" placeholder="abstract.pdf" readonly>
            </div>

            <!-- Team members Info -->
            <br>
            <label for="teaminfo">Team members info:</label>
            <div class="input-group">
                <label class="input-group-btn">
                        <span class="btn custom-btn-color">
                            <i class="glyphicon glyphicon-upload custom-btn-color"></i> <input type="file"
                                                                                               class="form-control teaminfocontrol-file"
                                                                                               name="teaminfo"
                                                                                               style="display: none;"
                                                                                               accept=".pdf,.doc,.pages">
                        </span>
                </label>
                <input type="text" class="form-control teaminfofile-name" placeholder="teaminfo.pdf" readonly>
            </div>

            <!-- Code (Files) -->
            <br>
            <label for="code">Code (Files as .zip):</label>
            <div class="input-group">
                <label class="input-group-btn">
                        <span class="btn custom-btn-color">
                            <i class="glyphicon glyphicon-upload custom-btn-color"></i> <input type="file"
                                                                                               class="form-control codecontrol-file"
                                                                                               name="code"
                                                                                               style="display: none;"
                                                                                               accept=".zip,.rar">
                        </span>
                </label>
                <input type="text" class="form-control codefile-name" placeholder="code.zip" readonly>
            </div>

            <!-- Hardware/Software Spec -->
            <br>
            <label for="hwswspec">HW/SW Spec:</label>
            <div class="input-group">
                <label class="input-group-btn">
                        <span class="btn custom-btn-color">
                            <i class="glyphicon glyphicon-upload custom-btn-color"></i> <input type="file"
                                                                                               class="form-control hwswspeccontrol-file"
                                                                                               name="hwswspec"
                                                                                               style="display: none;"
                                                                                               accept=".pdf,.doc,.pages">
                        </span>
                </label>
                <input type="text" class="form-control hwswspecfile-name" placeholder="hwswspec.pdf" readonly>
            </div>

            <!-- Report Document -->
            <br>
            <label for="report">Report Document:</label>
            <div class="input-group">
                <label class="input-group-btn">
                        <span class="btn custom-btn-color">
                            <i class="glyphicon glyphicon-upload custom-btn-color"></i> <input type="file"
                                                                                               class="form-control reportcontrol-file"
                                                                                               name="reportdoc"
                                                                                               style="display: none;"
                                                                                               accept=".pdf,.doc,.pages">
                        </span>
                </label>
                <input type="text" class="form-control reportfile-name" placeholder="report.pdf" readonly>
            </div>

            <!-- PPT's -->
            <br>
            <label for="ppt">Presentations (PPT's):</label>
            <div class="input-group">
                <label class="input-group-btn">
                        <span class="btn custom-btn-color">
                            <i class="glyphicon glyphicon-upload custom-btn-color"></i> <input type="file"
                                                                                               class="form-control pptcontrol-file"
                                                                                               name="ppt"
                                                                                               style="display: none;"
                                                                                               accept=".ppt,.keynote">
                        </span>
                </label>
                <input type="text" class="form-control pptfile-name" placeholder="project.ppt" readonly>
            </div>

            <!-- Plag Report -->
            <br>
            <label for="plag">Plagiarism:</label>
            <div class="row form-group">
                <div class="col-md-8">
                    <label for="report">Report:</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                                <span class="btn custom-btn-color">
                                    <i class="glyphicon glyphicon-upload custom-btn-color"></i> <input type="file"
                                                                                                       class="form-control plagcontrol-file"
                                                                                                       name="plagreport"
                                                                                                       style="display: none;"
                                                                                                       accept=".pdf,.doc,.pages">
                                </span>
                        </label>
                        <input type="text" class="form-control plagfile-name" placeholder="plagreport.pdf" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="percentage">Percentage:</label>
                    <input type="number" min="1" max="100" class="form-control" id="plag_percent" name="plagpercent"
                           required>
                </div>
            </div>

            <!-- Journal or Research Paper -->
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="paper">Research Papers Submitted:</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                                <span class="btn custom-btn-color">
                                    <i class="glyphicon glyphicon-upload custom-btn-color"></i> <input type="file"
                                                                                                       class="form-control papercontrol-file"
                                                                                                       name="researchpaper"
                                                                                                       style="display: none;"
                                                                                                       accept=".pdf,.doc,.pages">
                                </span>
                        </label>
                        <input type="text" class="form-control paperfile-name" placeholder="research-paper.pdf"
                               readonly>
                    </div>
                </div>
                <label for="proposal">Proposals Submitted:</label>
                <div class="input-group">
                    <label class="input-group-btn">
                            <span class="btn custom-btn-color">
                                <i class="glyphicon glyphicon-upload custom-btn-color"></i> <input type="file"
                                                                                                   class="form-control proposalcontrol-file"
                                                                                                   name="proposal"
                                                                                                   style="display: none;"
                                                                                                   accept=".pdf,.doc,.pages">
                            </span>
                    </label>
                    <input type="text" class="form-control proposalfile-name" placeholder="proposals.pdf" readonly
                           accept=".pdf,.doc,.pages">
                </div>
            </div>

            <!-- Submit Button -->
            <br>
            <div class="text-center">

                <button type="submit" class="btn custom-btn-color btn-lg "><i
                            class=" glyphicon glyphicon-ok custom-btn-color"></i> <span class="btntext">
                            Submit</span></button>

            </div>

        </form>
    </div>
</div>

</form>
</div>
</body>
<!-- Click Checkbox to view Textarea -->
<script type="text/javascript">
    //Link checkbox and Textarea START
    var form = $('#addproj'),
        hwreqcheckbox = $('#hwreqcheckbox'),
        hwreqtextarea = $('#hwreqtextarea'),
        swreqcheckbox = $('#swreqcheckbox'),
        swreqtextarea = $('#swreqtextarea');

    hwreqtextarea.hide();
    swreqtextarea.hide();

    hwreqcheckbox.on('click', function () {
        if ($(this).is(':checked')) {
            hwreqtextarea.show();
            hwreqtextarea.find('textarea').attr('required', true);
        } else {
            hwreqtextarea.hide();
            hwreqtextarea.find('textarea').attr('required', false);
        }
    });

    swreqcheckbox.on('click', function () {
        if ($(this).is(':checked')) {
            swreqtextarea.show();
            swreqtextarea.find('input').attr('required', true);
        } else {
            swreqtextarea.hide();
            swreqtextarea.find('input').attr('required', false);
        }
    })
    //Link checkbox and Textarea END
</script>

<!-- Add More on Plus Btn (Guidenames) -->
<script type="text/javascript">
    //Add more guidenames START
    var countguidenames = 0;
    $(".hide").hide();
    $(document).ready(function () {
        $(".add-more-div1").click(function () {
            if (countguidenames < 3) {
                countguidenames = countguidenames + 1;
                var html1 = $(".copy-div1").html();
                $(".after-add-more-div1").after(html1);
            } else {
                //alert(0);
            }
        });

        $("body").on("click", ".remove-div1", function () {
            countguidenames = countguidenames - 1;
            $(this).parents(".control-group-div1").remove();
        });

    });
    //Add more guidenames END
</script>

<!-- Add More on Plus Btn (Teammember Info) -->
<script type="text/javascript">
    //Add more Team members START
    var countteammember = 0;

    $(document).ready(function () {
        $(".add-more-div2").click(function () {
            if (countteammember < 3) {
                countteammember = countteammember + 1;
                var html2 = $(".copy-div2").html();
                $(".after-add-more-div2").after(html2);
            } else {
                //alert(0);
            }
        });

        $("body").on("click", ".remove-div2", function () {
            countteammember = countteammember - 1;
            $(this).parents(".control-group-div2").remove();
        });

    });
    //Add more Team members END
</script>

<!-- File Uploads -->
<script>
    //Abstract
    $(".abstractcontrol-file").change(function () {
        var filename = $(".abstractcontrol-file").val().split("\\").pop();
        $(".abstractfile-name").val(filename);
    });
    //Team memberinfo
    $(".teaminfocontrol-file").change(function () {
        var filename = $(".teaminfocontrol-file").val().split("\\").pop();
        $(".teaminfofile-name").val(filename);
    });
    //Code
    $(".codecontrol-file").change(function () {
        var filename = $(".codecontrol-file").val().split("\\").pop();
        $(".codefile-name").val(filename);
    });
    //Hard~Soft Ware Spec
    $(".hwswspeccontrol-file").change(function () {
        var filename = $(".hwswspeccontrol-file").val().split("\\").pop();
        $(".hwswspecfile-name").val(filename);
    });
    //Report
    $(".reportcontrol-file").change(function () {
        var filename = $(".reportcontrol-file").val().split("\\").pop();
        $(".reportfile-name").val(filename);
    });
    //PPT
    $(".pptcontrol-file").change(function () {
        var filename = $(".pptcontrol-file").val().split("\\").pop();
        $(".pptfile-name").val(filename);
    });
    //Plagiarism
    $(".plagcontrol-file").change(function () {
        var filename = $(".plagcontrol-file").val().split("\\").pop();
        $(".plagfile-name").val(filename);
    });
    //Research paper
    $(".papercontrol-file").change(function () {
        var filename = $(".papercontrol-file").val().split("\\").pop();
        $(".paperfile-name").val(filename);
    });
    //Proposals
    $(".proposalcontrol-file").change(function () {
        var filename = $(".proposalcontrol-file").val().split("\\").pop();
        $(".proposalfile-name").val(filename);
    });

</script>

</html>