<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Home Page</title> 
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/template.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/landing.css">    
</head>
<body>
<div class="header">
    <span style="color: #4717f6; font-weight: bold;">STUDENT</span> <br>REPOSITORY
    <label for="user"><%= username %></label>
    <a href="./login/logout"><img class="user" src="images/svg/logout.svg" height="30px" width="30px"></a>
</div>
<div class="landing_page">
        <svg id="backline" height="700" width="700" viewBox="0 0 508 508">
                <polyline points="0,0 173.31,100 346.62,0 173.31,100 173.31,300 " 
                style="fill:none;stroke:black;stroke-width:3" />
              </svg>
    <form class="" action="index.html" method="post">
        <a href="http://link" id="btn1"><img src="images/svg/addproj.svg"></a>
        <a href="http://link" id="btn2"><img src="images/svg/searchproj.svg"></a>
        <a href="http://link" id="btn3"><img src="images/svg/myproj.svg"></a>
    </form>
</div>
</body>
<footer>
    <span class="year">©2019</span><span class="amrita">AMRITA VISHWA VIDYAPEETHAM</span>
    <!-- <img class="logo" src="https://www.amrita.edu/sites/default/files/logo.png"> -->
    <a href="https://www.amrita.edu"><img class="logo" src="/images/logo.png"></a>

    <span class="contact" >For any queries,<br><a href="mailto:chejerlasirish@gmail.com"><span class="email">@chejerlasirish@gmail.com</span></span>
</footer>
</html>
