<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Search Project</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/template.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        .headline {
            padding-left: 15px;
        }

        .header {
            display: inline-flex;
        }

        body {
            padding: 90px 75px;
        }

        .search {
            width: 100%;
            display: inline-flex;
        }

        img {
            border-width: 1px;
        }

        #window {
            overflow-y: scroll;
            position: absolute;
            width: 90%;
            height: 80%;
            padding: 12px 20px;
            border-width: 1px;
            border-style: solid;
            border-color: gray;
            border-radius: 4px;
        }

        .projBlock {
            width: 100%;
        }
    </style>
</head>

<body>
<div class="header">
    <a href="/home"><img src="../images/svg/back.svg"></a>
    <div class="headline" id="slider">
        <span><span style="color: #4717f6; font-weight: bold;">SEARCH</span><br>PROJECT</span>
    </div>
</div>

<div class="search">
    <form action="./searchproj" method="post">
        <img src="../images/svg/searchbtn.svg">
        <input type="text" placeholder="Search" name="searchQuery"/>
        <input type="submit">

    </form>
</div>

<div id="window">
    <div class="projBlock">
        <div class="inner" id="left">
            <div class="row panel-content">
                <div class="col-12 ">
                    <% var i;
                    if(typeof data !== "undefined"){
                    for (i = 0; i < data.length; i++) { %>
                        <div class="row eachproj-content projinfo">
                            <div class="col-8 ">
                                <h5>
                                    <%= data[i].title %><br>
                                    <small class="text-muted muted-content"><%= data[i].domain %></small>
                                    <br>
                                    <h5>
                                        <span style="font-size: 15px">By : </span>
                                        <small
                                                class="text-muted muted-content">
                                            <% for (var j = 0;j < data[i].tmName.length;j++) { %>
                                                <%= data[i].tmName[j] %><span class="style-dot"> • </span>
                                            <% } %>
                                        </small>
                                        <br>
                                    </h5>
                                </h5>
                            </div>
                            <div class="col- plagpercent">
                                <span style="font-size: 13px">View Abstract</span>
                                <div>
                                    <a href="/"><img style="padding-left: 20px;" src="../images/svg/file.svg"></a>
                                </div>
                            </div>
                        </div>
                        <hr style="border-color: #4717f6;border-width: 1.5px">
                    <% }} %>

                </div>

            </div>

        </div>
        <div class="inner" id="right">

        </div>
    </div>
</div>
</body>

</html>